h1 {
    text-align: center;
    padding: 0 0 0px 0;
    margin: 0;
    font-family: 'Denk One', sans-serif;
    font-weight: 100;
    font-style: unset;
}

#account {
    font-family: monospace;
    text-align: right;
    padding: 12px;
    border-radius: 3px;
}

#username {
    font-weight: bold;
}

#logout {
    text-decoration: none;
}

#logout:hover {
    color: red;
}

.key {
    color: blue;
}

* {
    box-sizing: border-box;
}

.table {
    margin: 0 auto;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.item_row {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-family: monospace;
    border-radius: 5px;
}

.item_row:nth-child(odd) {
    background: #f2f2f2;
}

.logo {
    padding-top: 30px;
    text-align: center;
}

.logo img {
    height: 90px;
}

#data {
    max-width: 800px;
    margin: 0 auto;
}

#status {
    text-align: center;
    padding: 20px;
    font-family: monospace;
    visibility: hidden;
}
