h1 {
    text-align: center;
    padding: 15px;
    margin: 0;
    font-family: 'Denk One', sans-serif;
    font-weight: 200;
}

#account {
    /*background: #f6f6f6;*/
    font-family: courier, monospace;
    text-align: right;
    font-size: 0.8em;
    padding: 12px;
    border-radius: 3px;
}

#username {
    font-weight: bold;
}

#logout {
    text-decoration: none;
}

#logout:hover {
    color: red;
}

.key {
    font-weight: 600;
    color: blue;
}

.string {
}

.number {
}

.boolean {
}

.null {
}

.key, .string, .null, .boolean, .number {
    font-family: courier;
    font-size: 0.7em;
}

* {
    box-sizing: border-box;
}

.table {
    margin: 0 auto;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.item_row {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-family: monospace;
}

.item_row:nth-child(even) {
    background: #f2f2f2;
}
