h1 {
    text-align: center;
    padding: 15px;
    margin: 0;
    font-family: 'Denk One', sans-serif;
    font-weight: 200;
}

#account {
    font-family: monospace;
    text-align: right;
    padding: 12px;
    border-radius: 3px;
}

#username {
    font-weight: bold;
}

#logout {
    text-decoration: none;
}

#logout:hover {
    color: red;
}

.key {
    color: blue;
}

* {
    box-sizing: border-box;
}

.table {
    margin: 0 auto;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.item_row {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-family: monospace;
}

.item_row:nth-child(odd) {
    background: #f2f2f2;
}
