.key {
    color: blue;
}

.item_row {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-family: monospace;
    border-radius: 5px;
}

.item_row:nth-child(odd) {
    background: #f2f2f2;
}

.data {
    max-width: 800px;
    margin: 0 auto;
}
